sparkdriver:
  privileged: true
  image: mkiuchicl/sparkdriver
  environment:
    ZK_SERVICE: mesos/zookeeper
    MESOS_SERVICE: mesos/mesos-master
    SSHUSER: ${SSHUSER}
  ports:
  - 4040
  - 80
  - 22
