sparkdriver:
  privileged: true
  image: mkiuchicl/sparkmesos
  environment:
    ZK_SERVICE: mesos/zookeeper
    MESOS_SERVICE: mesos/mesos-master
    SSHUSER: ${SSHUSER}
  ports:
  - 4040:4040/tcp
  - 80:80/tcp
  - 22
