version: '2'
services:
    #
    # Datacenter 1 seed node
    #
    seed:
        image: mkiuchicl/cassandra-seed
        environment:
            ZK_SERVICE: mesos/zookeeper
            MESOS_SERVICE: mesos/mesos-master
            DATACENTER: DC1
            CAS_TYPE: seed
            NODE_COUNT: ${NODE_COUNT}
        labels:
            io.rancher.sidekicks: seed-data
        volumes_from: 
            - seed-data
        #volumes:
        #    - /var/lib/rancher:/var/lib/rancher
        ports:
            - 22/tcp
            - 7000:7000/tcp
            - 7001:7001/tcp
            - 9042:9042/tcp
            - 9160:9160/tcp
    seed-data:
        image: busybox
        entrypoint:
            - /bin/true
        network_mode: none
        volumes:
            - /data
    #
    # Datacenter 1 non-seed node
    #
    #node: 
    #    image: jdgoldie/cassandra_compose
    #    environment:
    #        DATACENTER: DC1
    node:
        image: mkiuchicl/cassandra-seed
        environment:
            ZK_SERVICE: mesos/zookeeper
            MESOS_SERVICE: mesos/mesos-master
            DATACENTER: DC1
            CAS_TYPE: node
            NODE_COUNT: ${NODE_COUNT}
        volumes_from: 
            - seed-data
        ports:
            - 22/tcp
            - 7000:7000/tcp
            - 7001:7001/tcp
            - 9042:9042/tcp
            - 9160:9160/tcp