version: '2'
services:
    #
    # Datacenter 1 seed node
    #
    seed:
        image: mkiuchicl/cassandra
        environment:
            ZK_SERVICE: mesos/zookeeper
            MESOS_SERVICE: mesos/mesos-master
            DATACENTER: DC1
            CAS_TYPE: seed
            NODE_COUNT: ${NODE_COUNT}
        ports:
            - 22/tcp
            #- 7000:7000/tcp
            #- 7001:7001/tcp
            #- 9042:9042/tcp
            #- 9160:9160/tcp
    #
    # Datacenter 1 non-seed node
    #
    #node: 
    #    image: jdgoldie/cassandra_compose
    #    environment:
    #        DATACENTER: DC1
    node:
        image: mkiuchicl/cassandra
        environment:
            ZK_SERVICE: Mesos/zookeeper
            MESOS_SERVICE: Mesos/mesos-master
            DATACENTER: DC1
            CAS_TYPE: node
            NODE_COUNT: ${NODE_COUNT}
        ports:
            - 22/tcp
            #- 7000/tcp
            #- 7001/tcp
            #- 9042/tcp
            #- 9160/tcp