mariadb:
  privileged: true
  image: mariadb:10.1.22
  environment:
    ZK_SERVICE: mesos/zookeeper
    MESOS_SERVICE: mesos/mesos-master
    MYSQL_ROOT_PASSWORD: ${MARIA_ROOT_PASS}
  ports:
    - 3306/tcp
